{% extends "base.html" %}
{% block content %}
<div class="row my-5 justify-content-center">
    <h1 class="title"><i class="fab fa-yelp"></i> Yelp Randomizer</h1>
</div>
<div style="width: 50%; margin: 25px auto;">
    <form action="/get_random_business" method="POST" autocomplete="off">
        <div class="form-group">
            <label for="term">Search Term</label>
            <input class="form-control" type="text" id="term" name="term" placeholder="food, restaurants, golf, etc.">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" id="location" name="location" placeholder="NYC, UC Berkeley, 123 Main St., etc.">
        </div>
        <div class="form-group row">
            <button class="btn btn-lg btn-danger btn-block">Search</button>
        </div>
    </form>
</div>
{% endblock %}
    